p.text-2xl.mb-8 {
  /* color: red; */
  /* background-color: red; */
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.welcome-box {
  flex-direction: column !important;
}
