.sort-toggle {
  display: flex;
  gap: 1rem;
}
.sort-bar {
  position: relative;
  display: flex;
  background-color: #f8f8f8;
  border-radius: 1.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 100%;
}

.sort-object {
  background-color: #eee;
  color: #686868;
  padding: 0.8rem 1.2rem 0.6rem 1.2rem;
  border-radius: 1rem;
  font-size: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sort-object:hover {
  transform: scale(1.1);
}
.sort-object h2 {
  transform: scale(1.1);
}

.sort-bar.all .active {
  background-color: #69ddc8;
  color: #f8f8f8;
}
.working.active {
  background-color: #88e97b;
  color: #f8f8f8;
}
.pending.active {
  background-color: #fbc343;
  color: #f8f8f8;
}
.blocked.active {
  background-color: #f66969;
  color: #f8f8f8;
}
.guest.active {
  background-color: #bfd3df;
  color: #f8f8f8;
}
.students.active {
  background-color: #87caf4;
  color: #f8f8f8;
}
.moderator.active {
  background-color: #8867ff;
  color: #f8f8f8;
}
.admin.active {
  background-color: #ff3737;
  color: #f8f8f8;
}
.sort-bar .highlight {
  position: absolute;
  top: 0.3rem;
  bottom: 0.3rem;
  width: calc(33.3% - 0.5rem);
  /* width: 100%; */
  border-radius: 8px;
  background: #5ecbb7;
  transition: transform 0.3s ease;
  font-size: 3rem;
}
.sort-bar .highlight.working {
  animation: slideWorking 0.4s forwards;
}
.sort-bar .highlight.pending {
  animation: slidePending 0.4s forwards;
}
.sort-bar .highlight.blocked {
  animation: slideFemale 0.4s forwards;
}

@keyframes slideWorking {
  0% {
    transform: translateX(100%) scale(1);
  }
  60% {
    transform: translateX(-10%) scale(0.95); /* overshoot qua trái */
  }
  80% {
    transform: translateX(5%) scale(1.05); /* bật lại */
  }
  100% {
    transform: translateX(0%) scale(1); /* settle tại male */
  }
}
@keyframes slidePending {
  0% {
    transform: translateX(0%) scale(1);
  }
  60% {
    transform: translateX(110%) scale(0.95); /* overshoot + co nhẹ */
  }
  80% {
    transform: translateX(95%) scale(1.05); /* bật lại */
  }
  100% {
    transform: translateX(105%) scale(1); /* settle */
  }
}
