.stepper-welcome {
  z-index: 1002;
}

.step-content-default {
  height: 1rem;
}
.phone-field {
  /* height: 4rem; */
  margin-top: 1rem;
  /* border-radius: 10rem; */
}
.phone-field .form-control {
  color: black;
  height: 4rem;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1rem 3.5rem 1rem 4rem !important;
  width: 100%;
  transition: all 0.33s ease;
  /* margin-top: 1rem; */
}
.form-control:hover {
  height: 4.5rem;
  border: 2px solid black !important;
  /* border-radius: 0.5rem 1rem 1rem 0.5rem; */
}
.form-control:focus {
  height: 4.5rem;

  /* transform: scaley(1.1); */
}

.flag-dropdown {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid black;
}
.flag-dropdown.open {
  border: 2px solid black !important;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.flag-dropdown.open:hover {
  /* border: 3px solid black !important; */
  transform: scale(1.2);
}
.selected-flag {
  background-color: rgb(0, 0, 0);
  border-radius: 1rem !important;
  padding: 1rem 0.5rem !important;
  width: 3rem !important;
  display: flex !important;
  justify-content: center;
  transition: all 0.3s ease;
}
.selected-flag.open {
  background-color: rgb(0, 0, 0);
  border-radius: 1rem !important;
  padding: 1rem 0.5rem !important;
  width: 5rem !important;
  display: flex !important;
  justify-content: center;
  transition: all 0.3s ease;
  border: 2px solid black !important;
}
.selected-flag:hover {
  background-color: rgb(67, 67, 67) !important;
}

.react-tel-input .flag-dropdown {
  border-radius: 1rem !important;
  /* padding: 1rem 0.5rem !important; */
}

.country-name {
  display: none !important;
}
